# Ignore build artifacts
build/
dist/
*.spec
*.exe
Dirty_Data/

# Ignore Nuitka output folders
*.build/
*.dist/
*.onefile-build/
*.Dirty_Data/
# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment
.venv/
